mat-toolbar {
    background: white;
    color: gray;
  }
  
  mat-sidenav {
    width: 270px;
    border-right: none;
    background: linear-gradient(rgb(0, 58, 86),rgb(33, 178, 178)
    );
    color: white;
    padding: 16px;
    text-align: center;
  }

  mat-sidenav-container {
    height: 100%
  }

   mat-list-item {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr
  } 

  mat-icon{
    margin: 5px;
    color: aliceblue;
    grid-column: 1/2;
    margin-bottom: -8px;
  }

  mat-nav-list{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr; */
  }

  mat-toolbar{
    height: 10%;
  }

  div{
    padding-left: 15px ;
    font-size: x-large;
    padding-top: 20px;
  }

  h1{
    padding: 30px;
    padding-bottom: 10px;
    font-size: xxx-large;
    font-weight: 700;
    background: linear-gradient(to right,rgb(5, 76, 112),rgb(163, 199, 217));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

  }

  h2{
    margin-top: 1px;
    margin-bottom: 50px; 
    font-family: math; 
    padding-top: 20px;
    font-size: xxx-large;
    
  }

  .wrapper{
    background-color: lightgray;
    height: 87%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr ;
  }

  .rowOne{
    grid-column: 1/4;
    grid-row: 1;
    margin: 20px;
    margin-top: 2px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .rowTwo{
    grid-column: 1/3;
    grid-row: 2;
    margin: 20px;
    margin-top: 5px;
    border-radius: 10px;
  }

  .rowTwo_2{
    grid-column: 3/4;
    grid-row: 2;
    margin: 20px;
    margin-top: 5px;
    border-radius: 10px;
  }

  